<div class="table-responsive">
  <table class="table table-hover builds">
    <thead>
      <tr>
        <th colspan="2">Changelist/Build</th>
        <th>Owner</th>
        <th>Time Started</th>
        <th>State</th>
        <th>Metrics</th>
        <th>Build</th>
        <th>Unit test</th>
        <th>Functional test</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="build in builds" 
          ng-class="{active:build.selected}" 
          class="css-{{build.state|lowercase}}">
        <td>
          Logo
        </td>
        <td>
          <a href="" ng-click="select(build)">{{build.name}}</a>
        </td>
        <td>
          {{build.owner}}
        </td>
        <td>
          {{build.timestamp | date:'MM/dd/yyyy  h:mma'}}
        </td>
        <td>
          {{build.state}}
        </td>
        <td>
          Metrics
        </td>
        <td>
          Build
        </td>
        <td>
          Unit
        </td>
        <td>
          Functional
        </td>
      </tr>
      <tr ng-repeat-end>
        <td ng-show="build.selected" colspan="9">
          <buildinfo></buildinfo>
        </td>
      </tr>
    </tbody>
  </table>
</div>
