<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2">Changelist/Build</th>
        <th>Owner</th>
        <th>Time Started</th>
        <th>State</th>
        <th>Metrics</th>
        <th>Build</th>
        <th>Unit test</th>
        <th>Functional test</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="build in builds | filter: searchFilter">
        <td>
          Logo
        </td>
        <td>
          {{build.name}}
        </td>
        <td>
          {{build.owner}}
        </td>
        <td>
          {{build.timestamp | date:'MM/dd/yyyy  h:mma'}}
        </td>
        <td>
          {{build.state}}
        </td>
        <td>
          Metrics
        </td>
        <td>
          Build
        </td>
        <td>
          Unit
        </td>
        <td>
          Functional
        </td>
      </tr>
    </tbody>
  </table>
<div>
  <div class="css-info-block">
    <span>Metrics</span>
  </div>
  <div class="css-info-block">
    <stages name="Build"></stages>
  </div>
  <div class="css-info-block">
    <piechart name={{name1}}></piechart>
  </div>
  <div class="css-info-block">
    <piechart name="Functional Test"></piechart>
  </div>
  <div class="css-action-block">
    Action
  </div>
</div>

</div>
